body {
    background-color: #E6CCB2;
    font-family: "Cormorant Garamond", serif;
    font-size: 1.2rem;
    font-weight: 800;
    font-style: normal;
}

.dark-bg {
    background-color: #B08968;
}

.brand {
    font-size: 1.4rem;
    color: #ffffff;
}

.navbar-text, .nav-link {
    color: #ffffff;
}

.brand:hover,
.nav-link:hover
{
    color: #DDB892;
}

.card {
    border: none;
    background-color: #EDE0D4;
}

.ad-link {
    text-decoration: none;
    color: #445261;
}

.ad-link:hover,
.page-link,
.btn-edit, 
.btn-delete {
    color: #9C6644;
}

.page-link:hover,
.btn-edit:hover, 
.btn-delete:hover
{
    background-color: #7F5539;
    color: #DDB892;
}

.btn-primary {
    border: none;
}

.btn-primary:hover {
    color: #DDB892;
}

.ad-container {
    display: flex;
}

.ad-content {
    width: 50%;
    margin: 5% 5%; 
}

.ad-img {
    width: 50%;
    height: 300px;
    margin: 5% 5%; 
}

.login-text {
    font-size: 1.5rem;
    font-weight: 900;
}

.btn-login {
    font-size: 1.3rem;
    font-weight: 800;
}

.btn-login:hover {
    color:#7F5539;
}

.text-end {
    color:#445261;
}