{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="ad-container">
    <div class="ad-img">
        {% if advert.image %}
    <img src="{{ advert.image.url }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="advert image of dog">
    {% endif %}
    </div>
    <div class="ad-content">
    <h1 class="post-title">{{ advert.title }}</h1>

    <p class="post-subtitle">{{ advert.user }} | {{ advert.created_on }}</p>
    
    <p class="card-text">Pet Name:
        {{ advert.pet_name }}
    </p>
    <p class="card-text">Pet Breed:
        {{ advert.pet_breed }}
    </p>
    <p class="card-text">Age:
        {{ advert.pet_age }}
    </p>
    <p class="card-text">Vaccinated:
        {{ advert.vaccinated }}
    </p>
    <p class="card-text">Details:
        {{ advert.description }}
    </p>
    <p class="card-text">Contact Number:
        {{ advert.phone }}
    </p>
    {% if user.is_authenticated and advert.user == user %}
  <a href="{% url 'edit_ad' advert.id %}" class="btn btn-edit text-dark">Edit</a>
  {% endif %}
  {% if user.is_authenticated and advert.user == user %}
  <a href="{% url 'delete_ad' advert.id %}" class="btn btn-delete text-dark">Delete</a>
  {% endif %}
</div>
</div>

{% endblock content %}