{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h3>Create An Advert</h3>
          <p>Posting as: {{ user.username }}</p>
          <form id="advertForm" method="post"
            style="margin-top: 1.3em;" enctype="multipart/form-data">
            {{ advert_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit"
              class="btn btn-signup btn-lg">Submit</button>
          </form>
          {% else %}
          <p>Log in to create an advert.</p>
          {% endif %}
        </div>
      </div>
</div>

{% endblock %}